@import "tailwindcss";

@theme {
  --color-app-bg: #eadcc7;
  --color-app-bg-secondary: #72593e;
  --color-app-bg-tertiary: #56412c;
  --font-sans: var(--font-pretendard);
  --font-lotte: var(--font-lotte);

  --color-joy-bg: #fff1c9;
  --color-joy: #fcc627;
  --color-sadness-bg: #d7f2ff;
  --color-sadness: #60afd3;
  --color-anger-bg: #ffdddd;
  --color-anger: #d53333;
  --color-anxiety-bg: #fff1d9;
  --color-anxiety: #e99400;
  --color-panic-bg: #ffdaf6;
  --color-panic: #b9509f;
  --color-neutral-bg: #ebebeb;
  --color-neutral: #939090;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer components {
  .mobile-container {
    @apply w-full max-w-md mx-auto;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  overflow-y: scroll;
}
