@import "tailwindcss";

@theme {
  --color-app-bg: #eadcc7;
  --color-app-bg-secondary: #72593e;
  --color-app-bg-tertiary: #56412c;
  --font-sans: var(--font-pretendard);
  --font-lotte: var(--font-lotte);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer components {
  .mobile-container {
    @apply w-full max-w-md mx-auto;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  overflow-y: scroll;
}
